
/* ======= common css start ======= */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
:root{
  --primary-color: #52DD5F;
  --secondary-color: #0d0021;
  --gray-color: #696969;
  --white-color: #ffffff;
  --bg-color: #0D0F0E;
  --box-shadow : #313131;
}
body,html{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}
a,
a:hover,
a:focus,
a:active,
button{
  text-decoration: none;
  outline: none;
}
input,
textarea{
  width: 100%;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
p{
  margin: 0;
}
h1{
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.4;
  color: var(--white-color);
  text-transform: capitalize;
}
h2{
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
  text-transform: capitalize;
}
span{
  color: var(--primary-color);
}
h3{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
}
h4{
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
  color: var(--white-color);
}
p{
  margin-bottom: 1rem;
  color: var(--gray-color);
  font-size: 1.6rem;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
object,
embed,
img{
  width: 100%;
}
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background: var(--gray-color);
}
::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}
.navbar-toggler:focus{
  box-shadow: none;
}
/* main btn */
.main-btn {
  display: inline-block;
  color: var(--white-color);
  border: 0.1rem solid var(--primary-color);
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all .5s ease-in-out;
  background-image:  linear-gradient(#fff 50%, #52DD5F 50%);
  color: var(--primary-color);
  background-size: 100% 200%;
  background-position: 100% 0;
}
.main-btn:hover{
  background-image:  linear-gradient(#fff 50%, #52DD5F #52DD5F 50%);
  color: #fff;
  background-position: 100% 100%;
}
.subtitle{
  margin-bottom: 3rem;
 position: relative;
}
.subtitle h2{
  font-size: 4rem;
  font-weight: 700;
}
.subtitle h2::after{
  content: "";
  display: block;
  width: 14rem;
  height: .2rem;
  margin: 0 auto;
  background-color: var(--primary-color);
}
section{
  padding: 5rem 0;
}
/* ======= common css end ======= */
/* ======= header start ======= */
.Home-back{
  display: inline-block;
  margin: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}
.header{
  background-color: var(--bg-color);
}
.header.scroll-on{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.125rem 1.75rem var(--box-shadow);
  transition: all .15s ease-in-out 0s;
}
.header .navigation-wrap{
  padding: .5rem 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.header .navigation-wrap img{
  max-width: 15rem;
  height: auto;
}
.header .navigation-wrap .navbar-toggler{
  border: unset;
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 2;
}
.navigation-wrap .nav-item{
  margin: 0 1.5rem;
}
.navigation-wrap .nav-item .nav-link{
  display: inline-block;
  padding: 0;
  position: relative;
  font-size: 1.6rem;
  color: var(--white-color);
}
.navigation-wrap .nav-item .nav-link.active,
.navigation-wrap .nav-item .nav-link:hover{
  color: var(--primary-color);
}
.navigation-wrap .nav-item .nav-link::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  height: .2rem;
  background-color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}
.navigation-wrap .nav-item .nav-link.active::after,
.navigation-wrap .nav-item .nav-link:hover:after{
  width: 100%;
}
.header .navigation-wrap .main-btn{
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}
/* ======= header end ======= */
/* ======= Banner start ======= */
.banner h2{
  margin-bottom: 1rem;
}
.banner .social-icon a {
  margin: 0 0 1rem 0;
}
/* ======= Banner end ======= */
/* ======= counter start ======= */
#counter{
  width: 100%;
  background: url(../images/counter_bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  padding: 5rem 0;
}
.counter span{
  font-weight: 700;
  color: var(--primary-color);
}
/* ======= counter end ======= */
/* ======= About start ======= */
.about .about_img img{
  width: 100%;
  margin-right: 1rem;
  padding: 2rem;
  box-shadow: .1rem .1rem 5rem var(--box-shadow);
}
.about_contant{
  margin-left: 2rem;
}
.about_contant p{
  margin: 0;
}
.counter_b1,
.counter_b2,
.counter_b3{
  border-right: .3rem solid var(--primary-color);
}
/* ======= About end ======= */
/* ======= Services start ======= */
.services .content{
  margin: 0 .5rem 2rem 0rem;
  padding: 3rem 1rem;
  text-align: center;
  transition: all .5s ease-in-out;
  background-image:  linear-gradient(#0D0F0E 50%, #00bc13 50%);
  color: var(--primary-color);
  border: .1rem double var(--primary-color);
  background-size: 100% 200%;
  background-position: 100% 0;
}
.services .content:hover{
  background-image:  linear-gradient(#0D0F0E 50%, #00bc13 50%);
  background-position: 100% 100%;
}
.services .content i{
  position: relative;
  display: block;
  font-size: 4rem;
  color: var(--primary-color);
  padding: 1rem 0;
  transition: 1s all ease-in-out;
}
.services .content:hover i{
  color: var(--white-color);
  transform: rotate(360deg);
}
.services .content:hover p
{
  color: var(--white-color);
}
/* ======= Services end ======= */
/* ======= skills start ======= */
.skills h4{
  margin-bottom: .6rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
}
.barfiller {
  width: 100%;
  height: 1rem;
  position: relative;
  margin-bottom: 2.5rem;
  background-color: var(--white-color);
  border-radius: 30px;
  box-shadow: inset 1px 4px 9px -6px var(--gray-color);
  -moz-box-shadow: inset 1px 4px 9px -6px var(--gray-color);
}
.barfiller .fill{
  position: relative;
  display: block;
  width: 0;
  height: 100%;
  border-radius: 30px;
  z-index: 1;
}
.barfiller .tipWrap { display: none; }
.barfiller .tip{
  margin-top: -30px;
  padding: .1rem .2rem;
  font-size: 1.5rem;
  color: var(--white-color);
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: var(--primary-color);
}
.barfiller .tip:after {
  border: solid;
  border-color: var(--primary-color) transparent;
  border-width: .6rem .6rem 0 .6rem;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}
/* ======= skills end ======= */
/* ======= portfolio start ======= */
.portfolio .card .img-1{
  width: 100%;
  background-image: url(../images/portfolio/img-1.jpg);
}
.portfolio .card .img-2{
  width: 100%;
  background-image: url(../images/portfolio/img-2.jpg);
}
.portfolio .card .img-3{
  width: 100%;
  background-image: url(../images/portfolio/img-3.jpg);
}
.portfolio .card .img-4{
  width: 100%;
  background-image: url(../images/portfolio/img-4.jpg);
}
.portfolio .card .img-5{
  width: 100%;
  background-image: url(../images/portfolio/img-5.jpg);
}
.portfolio .card .img-6{
  width: 100%;
  background-image: url(../images/portfolio/img-6.jpg);
}
.portfolio .card{
  overflow: hidden;
  height: 100%;
  min-height: 35rem;
  border: .1rem solid var(--white-color);
  cursor: pointer;
  border-radius: unset;
  box-shadow: 0 0 1.6rem .4rem var(--box-shadow);
}
.portfolio .card .img-1,
.portfolio .card .img-2,
.portfolio .card .img-3,
.portfolio .card .img-4,
.portfolio .card .img-5,
.portfolio .card .img-6{
  width: 100%;
  height: 100%;
  transition: background-position 4s ease-in-out 0s;
  background-position: top center;
  background-size: cover;
}
.portfolio .card:hover .img-1,
.portfolio .card:hover .img-2,
.portfolio .card:hover .img-3,
.portfolio .card:hover .img-4,
.portfolio .card:hover .img-5,
.portfolio .card:hover .img-6{
  background-position: bottom center;
}
/* ======= portfolio end ======= */
/* ======= testimonial start ======= */
.testimonial{
  width: 100%;
  background: url(../images/bg-1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 0 7rem 0;
}
.testimonial .carousel-inner{
  padding: 3rem 0;
}
.testimonial .card{
  position: relative;
  padding: 1rem;
  border-radius: 0;
  background-color: var(--white-color);
  cursor: pointer;
}
.testimonial .card .fa-quote-right{
  position: absolute;
  top: -2.8rem;
  right: 3rem;
  padding: 0.8rem .9rem;
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 0.5rem dashed var(--primary-color);
  border-radius: 50%;
  transition: all 1s ease-in-out;

}
.testimonial .card:hover .fa-quote-right{
  transform: rotate(360deg);
}
.testimonial .card h4{
  color: var(--box-shadow);
  letter-spacing: .2rem;
}
.testimonial .card p{
  color: var(--secondary-color);
}
.testimonial .card i{
  padding: .5rem 0;
  font-size: 1.8rem;
  color: var(--primary-color);
}
.testimonial .card img{
  width: 8rem;
  position: relative;
  border-radius: 50%;
  border: 0.5rem dashed var(--primary-color);
  margin-bottom: 1rem;
}
.testimonial .carousel-indicators{
  margin-bottom: -5rem;
}
.testimonial .carousel-indicators [data-bs-target] {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}
/* ======= testimonial end ======= */
/* =======contact form start====== */
.contact{
  padding: 6rem 0;
  background-color: #ecf0f3;
}
.contact h2,
.contact p
{
  color: var(--secondary-color);
}
.contact form{
  padding: 4rem;
  background-color: #ecf0f3;
  box-shadow: 1rem 1rem 1.5rem #cbced1,
              -1rem -1rem 1.5rem var(--white-color);
}
.contact form input{
  font-size: 1.6rem;
  color: #555;
  outline: none;
  width: 100%;
  height: 4rem;
}
.contact form textarea{
  width: 100%;
  padding-top: 1rem;
  outline: none;
  font-size: 1.6rem;
  color: #555;
}
.contact form input,
.contact form textarea{
  border: unset;
  padding-left: 2rem;
  background-color: transparent;
  border-radius: 3rem;
  box-shadow: inset 0.8rem 0.8rem 1.2rem #cbced1,
              inset -0.8rem -0.8rem 1.2rem var(--white-color);
}
.contact form .contact-btn{
  padding: .8rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  box-shadow: 0.8rem 0.8rem 1.2rem #cbced1,
              -0.8rem -0.8rem 1.2rem var(--white-color);
  background-color: #ecf0f3;
  border: unset;
  transition: all 1s ease-in-out;
}
.contact form .contact-btn:hover{
  box-shadow: inset 0.8rem 0.8rem 1.2rem #cbced1,
              inset -0.8rem -0.8rem 1.2rem var(--white-color);
}
/* ======== contact form end ======== */
/* ======= footer start ======= */
.footer_section{
  position: relative;
}
.footer_cta{
  border-bottom: .1rem solid var(--box-shadow);
}
.single_cta i{
  margin-top: .8rem;
  color: var(--primary-color);
  font-size: 3rem;
  float: left;
}
.cta_text{
  display: inline-block;
  padding-left: 1rem;
}
.cta_text h3{
  margin-bottom: .2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
}
.cta_text span{
  font-size: 1.6rem;
  color: var(--gray-color);
}
.footer_content{
  position: relative;
  z-index: 2;
}
.footer_content .footer_logo{
  margin-bottom: 2rem;
}
.footer_content .footer_logo img{
  max-width: 12rem;
  height: auto;
}
.footer_content .footer_text p{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.social-icon span{
  display: block;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
}
.social-icon a{
  display: inline-block;
  margin-right: .5rem;
  font-size: 2rem;
  color: var(--white-color);
}
.social-icon i{
  width: 3.7rem;
  height: 3.7rem;
  text-align: center;
  line-height: 3.8rem;
  border-radius: 50%;
  color: var(--primary-color);
  background-image:  linear-gradient(#fff 50%, #52DD5F 50%);
  background-size: 100% 200%;
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}
.social-icon i:hover{
  background-image:  linear-gradient(#fff 50%, #52DD5F 50%);
  color: var(--white-color);
  background-position: 100% 100%;
}
.footer_widget-heading h3{
  position: relative;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.footer_widget-heading h3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 5rem;
  height: .2rem;
  background-color: var(--primary-color);
}
.footer_widget ul li{
  display: block;
}
.footer_widget ul li a{
  font-size: 1.6rem;
  color: var(--gray-color);
  transition: all .5s ease-in-out;
}
.footer_widget ul li a:hover{
  color: var(--primary-color);
}
.footer_form{
  position: relative;
  overflow: hidden;
  border: .1rem solid var(--primary-color);
}
.footer_form input{
  width: 100%;
  font-size: 1.6rem;
  background-color: transparent;
  padding: 0 1rem;
  color: var(--primary-color);
  border: unset;
}
.footer_form input::placeholder,
.footer_form input:focus{
  color: var(--primary-color);
}
.footer_form button{
  background-color: var(--primary-color);
  padding: .6rem  3rem;
  border: 1 solid var(--primary-color);
}
.footer_form button i{
  font-size: 2rem;
  color: var(--secondary-color);
  transition: all 1s ease-in-out;
}
.footer_form button:hover i{
  transform: scale(1.2);
}
.footer_bottom{
  padding-bottom: 3rem;
}
.footer_bottom-text p{
  font-size: 1.6rem;
  color: var(--gray-color);
}
.footer_bottom-text p a{
  color: var(--primary-color);
}
.footer_menu{
  display: flex;
  justify-content: right;
  align-items: right;
}

.footer_menu ul li{
  margin-right: 1rem;
}
.footer_menu ul li a{
  font-size: 1.6rem;
  color: var(--gray-color);
  transition: all .5s ease-in-out;
}
.footer_menu ul li a:hover{
  color: var(--primary-color);
}
/* ======= footer end ======= */

/* ======= Progress button start ======= */
.totop{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--white-color);
  transition: all 1s ease-in-out;
  opacity: 0;
}
.totop:hover{
  color: var(--primary-color);
  background-color: var(--white-color);
  transform: rotate(360deg);
}
.totop i{
  margin:.6rem 0 0 .8rem;
}
.active{
  opacity: 1;
  pointer-events: auto;
}
/* ======= Progress button end ======= */
